/*------------- TAG SELECTOR -----------*/
html {
	padding: 0;
	margin: 0;
	height: 100%;
	color: #999;
	text-align: center;
    background-color: #47304B;
    font-family: 'Bangers', cursive;
	letter-spacing: 1px;	
}

h1, h2{
    color: #F79A55;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Bangers', cursive;
}
h3, p{
	font-family: 'Patrick Hand', cursive;
	color: #F79A55;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header{
    background-color:rgb(60, 41, 63);
}

a {
	text-decoration: none;
}

a:hover{
    opacity: 70%;
}

input[type="email"], input[type="password"] {
	padding: 15px;
	width: 95%;
	font-size: 1em;
	border: 0;
	border-radius: 5px;
	color: #f79a55;
	background-color: #271b29;
	margin-bottom: 15px;
}

button {
	background-color: rgb(197, 17, 26);
	color: white;
	padding: 15px;
	width: 50%;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	border: 0;
	cursor: pointer;	
}

hr{
    border:none ;
    border-radius: 5px;
    height: 2px;
    background-image: linear-gradient(to right,  #47304B, #F79A55,
    #47304B);
    width: 15%;
    margin: 20px auto;  
}

li{
	list-style:none;
}

/*------------------------- HEADER ------------------------*/
.banniere{
    width: 100%;
    border-top: #f79a55 5px solid;
    border-bottom: #f79a55 5px solid;
}

/*------------------------ CONTENU -------------------------*/
#option {
	color: #f79a55;
	margin-top: 10px;
	display: block;
	font-size: 0.9em;
}

#login-body {
	max-width: 27%;
	margin: auto;
	background-color: #3c293f;
	color: white;
	border-radius: 5px;
	padding: 50px;
	margin-top: 50px;
}

#login-body a{
	color:  #f79a55;
}

.grey {
	color: #ffede0;
}

.alert {
	padding: 10px;
	margin: 30px 0;
	color: white;
	border-radius: 5px;
}

.success {
	background-color: green;
}

.error {
	background-color: rgb(197, 17, 26);
}

#deco{
	color: #ffede0 !important;
}
/*-- Générateur du select --*/
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 20%; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.541);
} 

.select select {
	font-family: 'Bangers', cursive;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 12px 30px;
	outline: 0;
	border: 0px solid #000000;
	border-radius: 0px;
	background: #f79a55;
	color: #47304b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none; 
	border-radius: 2px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bolder;
	letter-spacing: 0.1em;  
}
.select select::-ms-expand {
	display: none;
}
.select select:hover,
.select select:focus {
	color: #47304b;
	background: #f5a86f;
}
.select select:disabled {
	opacity: 0.5;
	pointer-events: none;
}
/*-- Fin générateur du select --*/

.fleche{
	text-align: center;
	width: 3%;
	margin-top: -15px;
	margin-bottom: 10px;
}
	
section img{
	width: 5%;
	margin: 0 30px 0 30px;
}

li img{
	width: 5%;
	margin: -10px 30px 0 30px;
}

#accordion{
	max-width: 31%;
	margin: auto;
	background-color: #271b29 !important;
}

.actu{
	margin-top: 80px;
}

/*- Logo de l'accordeon -*/
.logotemtemfr {
	width: 200px;
}

/*------ ACCORDEON JQUERY -------*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border: 1px solid #271b29 !important;
	border-radius: 2px !important;
	background: #271b29 !important;
	font-weight: normal;
	color: #F79A55 !important;	
	font-family: 'Bangers', cursive !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #271b29 !important;
    background: #271b29 !important;
    font-weight: normal;
	color: #F79A55 !important;
	font-family: 'Bangers', cursive !important;
}

.ui-widget-content {
    border: 1px solid #271b29 !important;
        border-top-color: rgb(221, 221, 221);
        border-top-style: solid;
        border-top-width: 1px;
    background: #3c293f !important;
	color: #333333;
	border-radius: 5px !important;
}
#ui-id-1{
	text-decoration: none !important;
}
#ui-id-3{
	text-decoration: none !important;
}
/*-- Fin Accordeon Jquery --*/

/*-------------------------- FOOTER -------------------------*/
footer {
	background-color:rgb(60, 41, 63);
	text-align: center;
    font-size: 1rem;
	font-family: 'Bangers', cursive;
	bottom: 0;;
	margin-top: 25px;
	padding-top: 12px;
}

footer p {
	color:#F79A55;
	margin-bottom: 0;
}

footer a {
	text-decoration: none;
	margin-right: 50px;
}

/*---------------------- RESPONSIVE MOBILE -------------------*/
@media screen and (max-width: 600px) {
/*------- Tag Selector -------*/
	hr{
		width: 50%;
		margin-bottom: 5px;
	}
	h1{
		margin-top: 0;
	}
/*------- Header -------*/
	.bann800{
		background-image: url(../images/ban800.png);
		height:60px;
		border-top: #f79a55 3px solid;
		border-bottom: #f79a55 3px solid;
		margin-left: 0;
		margin-right: 0;
	}
	.banniere{
		display: none;
	}
/*------- Contenu -------*/
	.select {
		width: 50%;
	}

	button{
		width: 70%;
	}

	#actu_twitter{
		text-align: center;
		margin: 0 15px 0 15px;
	}

	#login-body {
		margin: 15px 15px 0 15px;
		padding-bottom: 25px;
		padding-top: 25px;
		max-width: 80%;
	}
	.fleche{
		text-align: center;
		width: 10%;
		margin-top: -15px;
		margin-bottom: 10px;
	}
	 
	#type{
		margin-top: -15px;
	}

	section img{
		width: 19%;
		margin: 5 10px 0 10px;
	}

	li img{
		width: 17%;
		margin: 5px 30px 0 30px;
	}

	#accordion{
		max-width: 90%;
	}
/*------- Footer -------*/
	footer{
		padding: .5rem 1rem;
		margin-top: 45px;
		text-align: center;
		font-size: .8rem;
		font-family: 'Bangers', cursive;
	}

	footer p{
		color:#F79A55;
	}
}